<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		 <!-- 设置但JDBC类型为空时,某些驱动程序 要指定值,default: OTHER 默认为OTHER，我们指定为NULL --> 
		 <!-- oracle -->
         <!-- <setting name="jdbcTypeForNull" value="VARCHAR"/>  -->
         <!--表明重用预编译的SQL语句-->
         <setting name="defaultExecutorType" value="REUSE"/>
	</settings> 
</configuration>